{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Blog entries -->
<div class="w3-col l8 s12">

  {% for blog in blogs %}
  <div class="w3-card-4 w3-margin w3-white">
    <img src="{{ blog.blog_image.url }}" alt="{{ blog.blog_title }}" style="width:100%">
    <div class="w3-container">
      <h3><b>{{ blog.blog_title|upper }}</b></h3>
      <h5>{{ blog.author.first_name }} {{ blog.author.last_name }}, <span class="w3-opacity">{{ blog.pub_date }}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{ blog.blog_description|truncatechars:500 }}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><a href="{% url 'blog' blog.id %}"><b>READ MORE »</b></a></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {% empty %}
  Sorry No blog available
  {% endfor %}

<!-- END BLOG ENTRIES -->
</div>
{% endblock %}
{% block sidebar %}
<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  {% block about %}
  <div class="w3-card w3-margin w3-margin-top">
  <img src="{% static 'images/avatar_g.jpg' %}" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Medha Patidar</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world Medha with you.</p>
    </div>
  </div>
  <hr>
  {% endblock %}
  {% block other %}
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Other Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      {% for otherblog in otherblogs %}
      <a href="{% url 'blog' otherblog.id %}"><li class="w3-padding-16">
        <img src="{{ otherblog.blog_image.url }}" alt="{{ otherblog.blog_title }}" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">{{ otherblog.blog_title }}</span><br>
        <span>By {{ otherblog.author.first_name }} {{ otherblog.author.last_name }}</span><br>
        <span>{{ otherblog.blog_description|truncatechars:20 }}</span>
      </li></a>
      {% endfor %}
    </ul>
  </div>

  <hr>
  {% endblock %}
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div>

<!-- END Introduction Menu -->
</div>
{% endblock %}